# {{ ansible_managed }}
#!/bin/bash
# /usr/bin/{{ shipyard_base_service }}-startup
# Soumen Trivedi <soumen.trivedi@gmail.com>
#

SU=/bin/su

[ -r /etc/default/{{ shipyard_base_service }} ] && . /etc/default/{{ shipyard_base_service }}
  
for i in $SHIPYARD_SERVICES
do
	$SU -l root --shell=/bin/bash -c "/etc/init.d/$i start" > $SHIPYARD_LOG 2>&1 || return 2
done
exit 0